<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>FirstProjectServlet</display-name>
  <welcome-file-list>
    <welcome-file>Home</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>a simple servlet</description>
    <display-name>SimpleServlet</display-name>
    <servlet-name>SimpleServlet</servlet-name>
    <servlet-class>SimpleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleServlet</servlet-name>
    <url-pattern>/SimpleServletPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Category</display-name>
    <servlet-name>Category</servlet-name>
    <servlet-class>Controller.Category</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Category</servlet-name>
    <url-pattern>/Category</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartController</display-name>
    <servlet-name>AddToCartController</servlet-name>
    <servlet-class>Controller.AddToCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartController</servlet-name>
    <url-pattern>/AddToCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeCartNum</display-name>
    <servlet-name>changeCartNum</servlet-name>
    <servlet-class>Controller.changeCartNum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeCartNum</servlet-name>
    <url-pattern>/changeCartNum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteItemInCart</display-name>
    <servlet-name>DeleteItemInCart</servlet-name>
    <servlet-class>Controller.DeleteItemInCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteItemInCart</servlet-name>
    <url-pattern>/DeleteItemInCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Shop</display-name>
    <servlet-name>Shop</servlet-name>
    <servlet-class>Controller.Shop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Shop</servlet-name>
    <url-pattern>/Shop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>Controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PriceFilterController</display-name>
    <servlet-name>PriceFilterController</servlet-name>
    <servlet-class>Controller.PriceFilterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PriceFilterController</servlet-name>
    <url-pattern>/PriceFilterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadmoreController</display-name>
    <servlet-name>LoadmoreController</servlet-name>
    <servlet-class>Controller.LoadmoreController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadmoreController</servlet-name>
    <url-pattern>/LoadmoreController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentController</display-name>
    <servlet-name>PaymentController</servlet-name>
    <servlet-class>Controller.PaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentController</servlet-name>
    <url-pattern>/PaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VNP_ReturnController</display-name>
    <servlet-name>VNP_ReturnController</servlet-name>
    <servlet-class>Controller.VNP_ReturnController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VNP_ReturnController</servlet-name>
    <url-pattern>/VNP_ReturnController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThanhToanButtonController</display-name>
    <servlet-name>ThanhToanButtonController</servlet-name>
    <servlet-class>Controller.ThanhToanButtonController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThanhToanButtonController</servlet-name>
    <url-pattern>/ThanhToanButtonController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testController</display-name>
    <servlet-name>testController</servlet-name>
    <servlet-class>Controller.testController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testController</servlet-name>
    <url-pattern>/testController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>Controller.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestController2</display-name>
    <servlet-name>TestController2</servlet-name>
    <servlet-class>Controller.TestController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestController2</servlet-name>
    <url-pattern>/TestController2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestController3</display-name>
    <servlet-name>TestController3</servlet-name>
    <servlet-class>Controller.TestController3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestController3</servlet-name>
    <url-pattern>/TestController3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailPageController</display-name>
    <servlet-name>DetailPageController</servlet-name>
    <servlet-class>Controller.DetailPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailPageController</servlet-name>
    <url-pattern>/DetailPageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadMoreControllerForDetailPage</display-name>
    <servlet-name>LoadMoreControllerForDetailPage</servlet-name>
    <servlet-class>Controller.LoadMoreControllerForDetailPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadMoreControllerForDetailPage</servlet-name>
    <url-pattern>/LoadMoreControllerForDetailPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SMSController</display-name>
    <servlet-name>SMSController</servlet-name>
    <servlet-class>Controller.SMSController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SMSController</servlet-name>
    <url-pattern>/SMSController</url-pattern>
  </servlet-mapping>
</web-app>